<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <form>
    <div class="form">
      <div class="reg">
        <div class="logo"><img src="../images/lingvo.png"></div>
      </div>
      <div class="login">
        <div class="input-reg">
          <input type="text" name="email" placeholder="email">
        </div>
        <div class="input-reg">
          <input type="text" name="password" placeholder="password">
        </div>
        <div class="answer"></div>
        <div class="registration"><a href="/auth/registration">Sing up</a></div>
        <div class="button">
          <div class="button-reg">
              <button class="button-click" type="submit" >Sing in</button>
          </div>         
        </div>
      </div>
    </div>
    
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
  <script src="/js/login.js"></script>
  
</body>
</html>