<!DOCTYPE html>
<html>
  <head>
    <title>auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <div>
        <div >
          <input type="text" name="username" placeholder="USERNAME">
        </div>
        <div >
          <input type="text" name="nickname" placeholder="NICKNAME">
        </div>
        <div >
          <input type="text" name="email" placeholder="e-MAIL">
        </div>
        <div>
          <input type="text" name="password" placeholder="PASSWORD">
        </div>
        
        
        <div class="button">
          <div>
            <button class="button-click" type="submit" >OK</button>
            <br>
          </div>         
        </div>
      </div>
      <div class="answer"></div>
      
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/auth.js"></script>
  </body>
</html>
